<div class='col-md-12 yieldcontent'>
    <div class="row">
      <div class="jumbotron jumboart text-center">
          <h2>REGISTER HERE</h2>
          <h5>And become a hardcore player!</h5>          
      </div>
    <div class="userEditFormPad">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { :id => "registerFormDevise", :class => "" }) do |f| %>
      <%= devise_error_messages! %>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Username</div>
                        <%= f.text_field :username, autofocus: true, class: "form-control" %>
                    </div>
                </div>  
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Email</div>
                        <%= f.email_field :email, autofocus: true, class: "form-control" %>
                    </div>
                </div>  
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Password</div>
                          <% if @validatable %>
                            <% passPlaceholder = "min #{@minimum_password_length} characters" %>
                          <% end %>
                        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: passPlaceholder %>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Confirm Password</div>
                        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">        
                      <%= f.submit "Register", class: "btn btn-default" %>
                    </div>
                </div>
            </div>          
        </div>
      <% end %>
    </div>
  </div>
</div>