<%= form_for(resource, as: resource_name, url: user_update_url(current_user), method: :post) do |f| %>
  
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, value: @user.username, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :view_theme %><br />
    <%= f.select :view_theme, ['Classic', 'Modern'] %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>