<h1>Welcome <%= current_user.username %></h1>

<%= current_user.games_count %>
<%= current_user.win_count %>
<%= current_user.lose_count %>
<br />
<%= current_user.view_theme %>

<%= form_for(resource, as: resource_name, url: user_update_path(current_user), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :view_theme %><br />
    <%= f.select :view_theme, ['Classic', 'Modern'] %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to 'Back', games_path , :class => "btn btn-danger" %>