<div class='col-md-12 yieldcontent'>
    <div class="row">
    	<div class="jumbotron jumboart text-center">    		
			<% if current_user.username %>
				<h2> <%= current_user.username %> </h2>
			<% else %>
				<h2> <%= current_user.email %> </h2>
			<% end %>
		</div>
		
		<div class="tablePad">	
			<h2>GLOBAL STATISTICS</h2>
			<table class="table gamestable">
   				<thead>
   				    <tr>
   				    	<th class="col-xs-3 text-center">Username</th>
   				    	<th class="col-xs-3 text-center">Games Played</th>
   				    	<th class="col-xs-3 text-center">Wins</th>
   				    	<th class="col-xs-3 text-center">Loses</th>
					</tr>
   				</thead>
   				<tbody>
					<% @users.each do |user| %>
   						<tr>
							<td class="col-xs-3 text-center"><%= user.username %></td>
							<td class="col-xs-3 text-center"><%= user.games_count %></td>
							<td class="col-xs-3 text-center"><%= user.win_count %></td>
							<td class="col-xs-3 text-center"><%= user.lose_count %></td>
   						</tr>
   					<% end %>
   				</tbody>
   			</table>
   		</div>		
	</div>
</div>