<%= form_for(@new_game, :html => {:id => "newGameForm", :class => "formHiden"}) do |f| %>


  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description , class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>