<table class = "table table-striped">
    <thead>
        <tr>
            <th><%= "Name" %> </th>
            <th><%= "Description" %></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% @games.each do |game| %>
        <tr>
            <td><%= game.name %></td>
            <td><%= game.description %></td>
            <td><%= link_to 'Show', game, :class => 'btn ' %></td>
            <td><%= link_to 'Join', edit_game_path(game), :class => 'btn btn-default' %></td>
            <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
        </tr>
    <% end %>
    </tbody>
</table>