<table class="table gamestable">
    <thead>
        <tr>
            <th class="col-xs-3">Game Name</th>
            <th class="col-xs-3">Description</th>
            <th class="col-xs-3">Game Owner</th>
            <th class="col-xs-1"></th>
            <th class="col-xs-1"></th>
            <th class="col-xs-1"></th>
        </tr>
    </thead>
    <tbody>
        <% @games.each do |game| %>
        <tr>
            <td class="col-xs-3"><%= game.name %></td>
            <td class="col-xs-3"><%= game.description %> | <%= game.state_name %></p></td>
            <td class="col-xs-3"><%= game.players[0].user.username %></p></td>
            <td class="col-xs-1">
                <% if current_user %>
                    <%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' }, :class => '' %>
                <% end %>
            </td>
            <td class="col-xs-1"><%= link_to 'Join' , update_url(:id => game.id), :method => :post, :class => '' %></td>
            <td class="col-xs-1"><%= link_to 'Show', game, :class => '' %></td>
        </tr>
        <% end %>
    </tbody>
</table>






