<% content_for :information do %>
	<p id = "notice"><%= notice %></p>
	<p>Game name: <%= @game.name %></p>
	<p>Description: <%= @game.description %></p>
	
	<p>Mover: <%= @game.mover %></p>
	<p>Player ID: <%= current_user.player.id %></p>
	<p>Player Game state: <%= current_user.player.game.state_name %></p>
<% end %>

<h1>----------Table----------</h1>
<div id = "table_cards" class="row">
	<%= render partial: 'tables/table' %>
</div>

<div id = "table_player_cards" class="row">
	<%= render partial: 'tables/table_player_cards'%>
</div>

<%= link_to 'reload', url: url_for( :controller => :games, :action => :show ) , remote: true, :method => :get %><br/>

<%= link_to "Put", {:controller => "games", :action => "put_card"} %>
<%= link_to 'Edit', edit_game_path(@game) , :class => "btn btn-info" %> |
<%= link_to 'Back', games_path , :class => "btn btn-danger" %>

<%= debug params %>