<% content_for :information do %>
	<p>Cards count: <%= current_user.player.cards_count %>	
	<p>Mover: <%= @game.mover %></p>
	<p>Player ID: <%= current_user.player.id %></p>
	<p>Player Game state: <%= current_user.player.game.state_name %></p>
	<p>Attacker: <%= @game.attacker %></p>
	<p>Defender: <%= @game.defender %></p>
	<% if @game.deck %>
		<p>Trump: <%= @game.deck.trump %></p>
		<p>Deck cards count : <%= 36 - @game.deck.cursor %></p>
	<% end %>
<% end %>

<div class="row wood">
		<div id="table_row_game" class="row">
			<div id="table_cards" class="col-xs-10">
				<%= render partial: 'tables/table' %>
			</div>
			<% if @game.deck %>
				<div id="table_deck" class="col-xs-2">
					<%= render partial: 'tables/table_deck' %>
				</div>
			<% else %>
				<div id="table_deck" class="col-xs-2">
				</div>
			<% end %>
		</div>
		<div id="table_row_player" class="row">
			<div id="table_player_cards" class="col-xs-10">
				<%= render partial: 'tables/table_player_cards'%>
			</div>
			<div id="table_controls" class="col-xs-2">
				<div>
					<%= link_to "End Turn", end_turn_url, :method => :post, :class => "btn btn-default" %><br />
				</div>
				<div>
					<%= link_to 'Reload', url: url_for( :controller => :games, :action => :show ), remote: true, :method => :get, :class => "btn btn-default" %>
				</div>
			</div>
		</div>
</div>
