<div class='col-md-12 yieldcontent'>
  <div class="row">
    <div class="jumbotron jumboart text-center">
      <% if current_user %>
        <% if current_user.player %>
          <%= link_to my_game_url(:id => current_user.player.game.id) do%>
            <h2>RETURN TO MY GAME</h2>
          <% end %>
        <% else %>
          <h2 id="newGameLogo">NEW GAME</h2>
        <% end %>
      <% else %>
        <h2 id="newGameLogo">NEW GAME</h2>
      <% end %>
    </div>

    <div id="newGameFormPad">
      <%= render 'form' %>      
    </div>

    <% if @games.count > 0 %>
        <div id = "card_games" class="tablePad">
          <h2>GAMES</h2>
          <%= render 'games' %>
        </div>
    <% else %>
        <div id = "card_games" class="tablePad">
          <h2 class="text-center">Nobody plays :(</h2>
          <%= render 'games' %>
        </div>
    <% end %>
  </div>
</div>


<% content_for :index do %>
  <script type="text/javascript">
    $(document).ready(function () {
        setInterval(function(){
        refreshIndex();
      }, 25000); 
    });
       
    function refreshIndex() {
      $.ajax({
        url: "<%= @games %>",
        dataType: "script" 
      })
    };
  </script>
<% end %>