<% if @game.table %>
	<%= table_cards = split_array ( @game.table.table_cards ) %>
	<ul class="tableCardsList hitCards">
		<% table_cards[0].each do |card| %>
			<li>
				<div class="t_playerCards">
					<div class="<%= current_user.view_theme.to_s %>Rang">
						<%= make_rank (card) %>						
					</div>
					<div class="<%= current_user.view_theme.to_s %>Suite">
						<%= make_suite (card.suite) %>						
					</div>
					<div class="t_playerCardsPad t_<%= current_user.view_theme.to_s + card.rang.to_s + card.suite.to_s %>"></div>				
				</div>
			</li>
		<% end %>
	</ul>

	<ul class="tableCardsList defenceCards">
		<% table_cards[1].each do |card| %>
			<li>
				<div class="t_playerCards">
					<div class="<%= current_user.view_theme.to_s %>Rang">							
						<%= make_rank (card) %>						
					</div>
					<div class="<%= current_user.view_theme.to_s %>Suite">
						<%= make_suite (card.suite) %>						
					</div>
					<div class="t_playerCardsPad t_<%= current_user.view_theme.to_s + card.rang.to_s + card.suite.to_s %>"></div>				
				</div>
			</li>
		<% end %>
	</ul>
<%end%>