<p><strong>Name:</strong>
  <%= @game.name %>
</p>

<p><strong>Description:</strong>
  <%= @game.description %>
</p>
<table>
	<thead>
	  <tr>
	    <th> Suite</th>
	    <th> Rang </th>
	  </tr>
	</thead>
	<tbody>
		<% current_user.player.player_cards.each do |card| %>
			<tr>
				<td> <%= card.suite %> </td>
				<td> <%= card.rang %> </td>
				<td> <%= link_to 'put', put_card_url(:suite => card.suite, :rang => card.rang), remote: true , :method => :post %></td>
			</tr>
		<% end %>	
	</tbody>
</table>