<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container muted credit">
    <p class="text-muted centertext">&#169 2014 LV-131 Ruby/UI, All rights reserved!</p>
  </div>
     <div class="muted credit centertext">
      <span class="fblinks"><%= link_to "Andriy Kulyk", "https://www.facebook.com/andriy.kulyk" %></span>
      <span class="fblinks"><%= link_to "Anton Udyrenko", "https://www.facebook.com/stokitaycev" %></span>
      <span class="fblinks"><%= link_to "Marik Lozik", "https://www.facebook.com/marik.lozik" %></span>
      <span class="fblinks"><%= link_to "Nazar Yablonskiy", "https://www.facebook.com/nazar1yablonskiy" %></span>
      <span class="fblinks"><%= link_to "Oleksandr Kychun", "https://www.facebook.com/profile.p?id=100008444912984" %></span>      <span class="fblinks"><%= link_to "Orest Saturskyy", "https://www.facebook.com/orest.satskyj" %></span>
      <span class="fblinks"><%= link_to "Pavlo Medynskyy", "https://www.facebook.com/profile.p?id=100007461228429" %></span>	  </div>
</div>