<div class="navbar navbar-inverse navbar-top">
	<div class="container">
	<div class="row">
		<div class="col-xs-4" id="logo">
			<%= link_to root_path, class: "navbar-brand" do %>
				<%= image_tag("logo.gif",:width => 20) %><span class="">  Dooraque</span>
			<% end %>
		</div>
		
		<div class="col-xs-4 divCenter">
			<ul class="nav navbar-nav">
				<li><%= link_to 'Games', games_path , :class => "" %></li>
				<li><%= link_to 'Statistics', statistic_path , class: "" %></li>
			</ul>
		</div>

		<div class="col-xs-4">
			<% if user_signed_in? %>
				<div class="headerUserBar">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<%= link_to user_show_path(current_user) do %>
								<b><%= current_user.username %></b>
							<% end %>
						</li>	
						<li><%= link_to 'Log out', destroy_user_session_path, :method => :delete, class: "" %></li>		
						<li><%= link_to 'Edit', edit_user_registration_path, class: "" %></li>
					</ul>
				</div>
			<% else %>
				<div id="logInForm" class="hide">
					<%= form_for(:user, :url => session_path(:user), :html => {:class => "form-group"}) do |f| %>
						<%= f.text_field :email, :placeholder => "Email or Username", class: "form-control" %>
						<%= f.password_field :password, :placeholder => "Password", class: "form-control" %>
						<%= f.submit 'Log in', class: "btn btn-success" %>
					<% end %>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to 'Log in', "#", class: "", id: "logInButton" %></li>
					<li><%= link_to 'Register', new_user_registration_path, class: "" %></li>
				</ul>
			<% end %>
		</div>
	</div>
	</div>
</div>