<div class="navbar navbar-top navbar-inverse">
	<div class="container">
		<%= link_to root_path do %>
			<div class="logo">
				<%= image_tag("logo.gif",:width => 45) %> <span class="">Dooraque</span>
			</div>
		<% end %>
		<div class="nav navbar-nav pull-right">
			<% if user_signed_in? %>
				<div class="navbar-form navbar-right">
					<div class='btn btn-success'>
						<%= current_user.games_count %>
						<%= current_user.win_count %>
						<%= current_user.lose_count %>
					<span class='btn btn-disabled'>Signed in as <b><%= current_user.username %></b></span>
						<%= link_to 'Home', user_show_path(current_user), class: "btn" %>
						<%= link_to 'statistics', statistic_path , class: "btn" %>
						<%= link_to 'Log out', destroy_user_session_path, :method => :delete, class: "btn" %>					
						<%= link_to 'Edit', edit_user_registration_path, class: "btn" %>
					</div>
				</div>
			<% else %>
				<div class='form-group'>
  				<%= form_for(:user, :url => session_path(:user), :html => {:class => "navbar-form navbar-right"}) do |f| %>
					<%= f.text_field :email, :placeholder => "Email or Username", class: "form-control" %>
					<%= f.password_field :password, :placeholder => "Password", class: "form-control" %>
					<%= f.submit 'Log in', class: "btn btn-success" %>
					<%= link_to 'Sign up', new_user_registration_path, class: "btn btn-danger " %>
				<% end %>
				</div>
			<% end %>
		</div>  
	</div>
</div> 